# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Exclude test files and folders, including playwright and Cypress and Go
test
tests
test/
tests/
__tests__
__tests__/
*.test.*
*.spec.*
*.e2e.*
*.cy.*
*.spec.ts
*.test.ts
*.e2e.ts
*.cy.ts
*.test.js
*.spec.js
*.e2e.js
*.cy.js
*.test.jsx
*.spec.jsx
*.e2e.jsx
*.cy.jsx
*.test.tsx
*.spec.tsx

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

test-results/
playwright-report/

# Live testing files
*.db
